@import (reference) '../../base.less';

.@{prefix-cls}-indicator-setting-modal-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 20px;
  margin-top: 20px;
  span {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}