@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f4efml');
  src:  url('fonts/icomoon.eot?f4efml#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f4efml') format('truetype'),
    url('fonts/icomoon.woff?f4efml') format('woff'),
    url('fonts/icomoon.svg?f4efml#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-close:before {
  content: "\e900";
  color: #fff;
}
.icon-icon-invisible:before {
  content: "\e901";
  color: #fff;
}
.icon-icon-setting:before {
  content: "\e902";
  color: #fff;
}
.icon-icon-visible:before {
  content: "\e903";
  color: #fff;
}
