@import (reference) './base.less';
// @import './iconfonts/style.css';

:root {
  --klinecharts-pro-primary-color: @c-primary;
  --klinecharts-pro-hover-background-color: @c-hover-background;
  --klinecharts-pro-background-color: @c-background-light;
  --klinecharts-pro-text-color: @c-text-light;
  --klinecharts-pro-border-color: @c-border-light;
}

.@{prefix-cls} {
  &[data-theme="dark"] {
    :root {
      --klinecharts-pro-primary-color: @c-primary;
      --klinecharts-pro-hover-background-color: @c-hover-background;
      --klinecharts-pro-background-color: @c-background-dark;
      --klinecharts-pro-bckground-color: @c-border-dark;
      --klinecharts-pro-text-color: @c-text-dark;
      --klinecharts-pro-border-color: @c-border-dark;
    }
  }
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--klinecharts-pro-text-color);
  font-size: 14px;
  height: 80vh;
  &-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: @widget-height;
  }
  &-drawing-bar {
    width: @drawing-bar-width;
    height: 100%;
    box-sizing: border-box;
    border-right: solid 1px var(--klinecharts-pro-border-color);
  }
  &-widget {
    width: @widget-width;
    height: 100%;
  }
}

@import './widget/period-bar/index.less';
